<html ng-app="myApp">
<div>{{ titles }}</div>
<b><a ui-sref="post">Add New</a></b>
<style>
table, td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 1px;
}
</style>
<div class="container">

    <div class="row">

        <div class="col-lg-48">
<table>
    <thead>
       <tr> 
            <th>Id</th>
            <th>Title</th>
            <th>Details</th>
       </tr>
    </thead>
    <tbody>
       <tr ng-repeat="post in posts">
         <td>{{$index+1}}</td>
           <td>{{post.title}}</td>
           <td><a ui-sref="singlepost({id:post.id})">Details</a></td>
       </tr>
    </tbody>
</table>
</div>
</div>
</div>


</html>